[submodule "opus"]
	path = opus
	url = https://gitlab.xiph.org/xiph/opus.git
[submodule "arm-cmake-toolchains"]
	path = arm-cmake-toolchains
	url = https://github.com/vpetrigo/arm-cmake-toolchains.git
